:root {
    --primary-color: #D3E5FD;
    --secondary-color: #E7E9FE;
    --third-color: #DCE1FF;
    --fourth-color: #C7CDFD;
    --fifth-color: #A5B1FD;
    --sixth-color: #233BF5;
    --seventh-color: #86DEC5;
}
body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--primary-color);
    min-height:100vh;
}

.contact-form-section {
    width: 60%;
    height: fit-content;
    background-color: #fff;
    margin: 10% 20%;
    padding: 20px 80px;
}
h2 {
 color: var(--sixth-color);
 font-weight: 400;
 font-size: 40px;
 text-transform: capitalize;
 margin-bottom: 40px;;
}
.contact-form{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.contact-form > .first-row {
    width: 48%;
    background-color: var(--secondary-color);    
}
.contact-form > .second-row{
    width: 48%;
    background-color: var(--third-color);    
}
.contact-form > .third-row {
    width: 100%;
    background-color: var(--fourth-color);    
}
.contact-form > .fourth-row {
    width: 100%;
    background-color: var(--fifth-color);    
}
input {
    border: none;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
}
form input:last-of-type {
    height: 120px;
    display:flex;
    
}
input::placeholder {
    color: var(--sixth-color);
    font-size: 18px;
    line-height: 1.24em;
    font-weight: 600;
    vertical-align:top;
}
button {
    background-color: var(--sixth-color);
    border: none;
    padding: 20px 75px;
    border-radius: 75px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}
p {
    font-size: 17px;
    color: var(--seventh-color);
    font-weight: 500;
}